.pics {
  width: auto; 
  height:500px;
  padding-bottom: 50px
}
.group {
  border: 2px solid brown;
  margin: 10px;
  text-align: center

}
.group:hover {
  border: 4px solid brown
}
footer {
  text-align: center;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr
}
img {
  height: 200px;
  margin-left: auto;
  margin-right:auto;
  display: block
}
.bold {
  font-weight: bolder;
  color: #6F4B40
}
.price {
  font-weight: bolder;

}
